/**
 * {{PLUGIN_NAME}}
 *
 * Managed by scaffold-opencode-hooks.
 * Notes: {{NOTES}}
 * Surfaces: {{SURFACES}}
 */

{{IMPORTS}}
export default async ({ project, client, $, directory, worktree }) => {
  void project
  void client
  void $
  void directory
  void worktree

  return {
{{HANDLERS}}
  }
}

